---
---

@import "bootstrap/bootstrap";
@import "flags";

// Sticky footer :)
body {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.rw-box {
  background-color: white;
  padding: 3rem;
  border-radius: 1rem;
}
