<!DOCTYPE html>
<html lang="fr-CH" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Traductions Freelance - Regina Weick Sepe</title>
    <meta name="description" content="Traductions Freelance - Regina Sepe-Weick">

    <link rel="stylesheet" href="/css/main.css">
    </style>
  </head>
  <body>

    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light bg-purple mb-5">
      <div class="container">
        <a class="navbar-brand" href="/">Traductions Freelance</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="/">Bienvenue <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/qui-suis-je/">Qui suis-je?</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/portfolio/">Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/honoraires/">Honoraires</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact/">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    {{ content }}

    <footer class="bg-primary text-white mt-5">
      <div class="container py-5 d-flex flex-column flex-md-row">
        <div class="mr-2">
          <span class="font-weight-bold">Regina Weick Sepe</span> — Traductrice free-lance
        </div>
        <div>
          <a href="tel:+41796163506" class="text-white">+41 79 616 35 06</a> — <a href="mailto:rweick@bluewin.ch" class="text-white">rweick@bluewin.ch</a>
        </div>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
