<!DOCTYPE html>
<html lang="fr-CH" dir="ltr" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Traductions free-lance - Regina Weick Sepe</title>
    <meta name="description" content="Traductions Freelance - Regina Sepe-Weick">

    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
    </style>
  </head>
  <body>

    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-success">
      <div class="container">
        <a class="navbar-brand text-white" href="/">RW Traductions free-lance</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarToggler">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item {% if page.url == '/' %}active{% endif %}">
              <a class="nav-link" href="/">Bienvenue</a>
            </li>
            <li class="nav-item {% if page.url == '/qui-suis-je/' %}active{% endif %}">
              <a class="nav-link" href="/qui-suis-je/">Qui suis-je?</a>
            </li>
            <li class="nav-item {% if page.url == '/portfolio/' %}active{% endif %}">
              <a class="nav-link" href="/portfolio/">Portfolio</a>
            </li>
            <li class="nav-item {% if page.url == '/honoraires/' %}active{% endif %}">
              <a class="nav-link" href="/honoraires/">Honoraires</a>
            </li>
            <li class="nav-item {% if page.url == '/contact/' %}active{% endif %}">
              <a class="nav-link" href="/contact/">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div>
      {{ content }}
    </div>

    <footer class="bg-primary text-white mt-5" style="background-color: #2A7221 !important;">
      <div class="container py-5">
        <p>
          <span class="font-weight-bold">Regina Weick Sepe</span> — Traductrice free-lance
          <br>
          <a href="tel:+41796163506" class="text-white">+41 79 616 35 06</a> — <a href="mailto:rweick@bluewin.ch" class="text-white">rweick@bluewin.ch</a>
        </p>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
